body{
	background-color: #f2f2f2;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling:touch;
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.nav-link{
	padding: 2.3rem 1rem;
	margin-right: 1rem;
}
.nav-links{
	justify-content: flex-end;
}
.navbar{
	margin: 0;
	padding: 0 3.4rem;
	font-size: 15px;
	background-color: transparent;
	position: absolute;
	z-index: 2000;
	width: 100%;
}
.navbar a{
	color: white;
	letter-spacing: 1.35px;
	line-height: 21.42px;
}

.information-block{
	position: relative;
	height: 800px;
}
.information-block a img{
	margin-top: -40px;
}

.first-block{
	position: absolute;
	z-index: 1900;
	text-align: center;
	border-radius: 0;
}
.first-block-overlay{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.first-block img{
	height: 800px;
}
.first-block button{
	height: 70px;
	width: 180px;
	font-weight: 900;
	font-size: 2.3rem;
	border-radius: 50px;
}

.search-and-weblinks{
	transform: translateY(40px);
	display: grid;
	grid-gap: 10px;
}
.search-and-weblinks img{
	width: 24px;
	height: 24px;
}

.search-and-weblinks button{
	background-color: transparent;
	cursor: pointer;
	outline: none;
	border: none;
	text-decoration: none;
}
.nav-item .with-input{
	display: flex;
	flex-direction: row;
}
.inputter{
	border: #777;
	display: none;
}

@media only screen and (max-width: 767px){
	.information-block a img{
		margin-top: 10px;
	}
}
@media only screen and(max-width: 650px){
}
@media only screen and (max-width: 500px){
	.display-3{
		width: 100%;
	}
}
@media only screen and (max-width: 900px){
	.row{
		flex-direction: column;
	}

	.courses{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.card .card-img-top{
	background-size: cover;
	background-position: center;
}
.teacher:hover{
	color: red;
}
.teacher:hover .tPhoto{
	color: red;
	display: block;
}
.tPhoto{
	display: none;
}
.dropdown-menu{
	padding: 10px;
}
.textSuccess{
	color: grey;
	font-family: "Arial";
	font-style: italic;
}
.successPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
